@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TeamCity and Octopus Deploy Demo Application</h1>
    <p class="lead">
        Current application version is @System.Configuration.ConfigurationManager.AppSettings["ApplicationVersion"]
    </p>
    <!--<p>
        We are deploying really cool now.
    </p>-->
</div>